/* frontend/src/components/organisms/LoginForm/LoginForm.module.css */

.form {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 24rem;
}

.formGroup {
  margin-bottom: 1rem;
}

.input {
  margin-top: 0.25rem;
  border: 2px solid #e2e8f0;
  border-radius: 0.375rem;
  width: 100%;
  padding: 0.5rem;
}
